<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wajda9.paymentsdk">

    <application>
        <activity
            android:name=".PaymentActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:exported="false" />
    </application>

</manifest>
